<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangma.cn.mapper.TGameuserMapper" >
  <resultMap id="BaseResultMap" type="com.shangma.cn.entity.TGameuser" >
    <id column="game_id" property="gameId" jdbcType="INTEGER" />
    <result column="game_name" property="gameName" jdbcType="VARCHAR" />
    <result column="game_address" property="gameAddress" jdbcType="INTEGER" />
    <result column="game_job" property="gameJob" jdbcType="INTEGER" />
    <result column="game_race" property="gameRace" jdbcType="INTEGER" />
    <result column="game_rating" property="gameRating" jdbcType="INTEGER" />
    <result column="game_camp" property="gameCamp" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    game_id, game_name, game_address, game_job, game_race, game_rating, game_camp
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shangma.cn.entity.TGameuserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_gameuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_gameuser
    where game_id = #{gameId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_gameuser
    where game_id = #{gameId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shangma.cn.entity.TGameuserExample" >
    delete from t_gameuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shangma.cn.entity.TGameuser" >
    insert into t_gameuser (game_id, game_name, game_address, 
      game_job, game_race, game_rating, 
      game_camp)
    values (#{gameId,jdbcType=INTEGER}, #{gameName,jdbcType=VARCHAR}, #{gameAddress,jdbcType=INTEGER}, 
      #{gameJob,jdbcType=INTEGER}, #{gameRace,jdbcType=INTEGER}, #{gameRating,jdbcType=INTEGER}, 
      #{gameCamp,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shangma.cn.entity.TGameuser" >
    insert into t_gameuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="gameName != null" >
        game_name,
      </if>
      <if test="gameAddress != null" >
        game_address,
      </if>
      <if test="gameJob != null" >
        game_job,
      </if>
      <if test="gameRace != null" >
        game_race,
      </if>
      <if test="gameRating != null" >
        game_rating,
      </if>
      <if test="gameCamp != null" >
        game_camp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gameId != null" >
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="gameName != null" >
        #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameAddress != null" >
        #{gameAddress,jdbcType=INTEGER},
      </if>
      <if test="gameJob != null" >
        #{gameJob,jdbcType=INTEGER},
      </if>
      <if test="gameRace != null" >
        #{gameRace,jdbcType=INTEGER},
      </if>
      <if test="gameRating != null" >
        #{gameRating,jdbcType=INTEGER},
      </if>
      <if test="gameCamp != null" >
        #{gameCamp,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shangma.cn.entity.TGameuserExample" resultType="java.lang.Integer" >
    select count(*) from t_gameuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_gameuser
    <set >
      <if test="record.gameId != null" >
        game_id = #{record.gameId,jdbcType=INTEGER},
      </if>
      <if test="record.gameName != null" >
        game_name = #{record.gameName,jdbcType=VARCHAR},
      </if>
      <if test="record.gameAddress != null" >
        game_address = #{record.gameAddress,jdbcType=INTEGER},
      </if>
      <if test="record.gameJob != null" >
        game_job = #{record.gameJob,jdbcType=INTEGER},
      </if>
      <if test="record.gameRace != null" >
        game_race = #{record.gameRace,jdbcType=INTEGER},
      </if>
      <if test="record.gameRating != null" >
        game_rating = #{record.gameRating,jdbcType=INTEGER},
      </if>
      <if test="record.gameCamp != null" >
        game_camp = #{record.gameCamp,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_gameuser
    set game_id = #{record.gameId,jdbcType=INTEGER},
      game_name = #{record.gameName,jdbcType=VARCHAR},
      game_address = #{record.gameAddress,jdbcType=INTEGER},
      game_job = #{record.gameJob,jdbcType=INTEGER},
      game_race = #{record.gameRace,jdbcType=INTEGER},
      game_rating = #{record.gameRating,jdbcType=INTEGER},
      game_camp = #{record.gameCamp,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shangma.cn.entity.TGameuser" >
    update t_gameuser
    <set >
      <if test="gameName != null" >
        game_name = #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameAddress != null" >
        game_address = #{gameAddress,jdbcType=INTEGER},
      </if>
      <if test="gameJob != null" >
        game_job = #{gameJob,jdbcType=INTEGER},
      </if>
      <if test="gameRace != null" >
        game_race = #{gameRace,jdbcType=INTEGER},
      </if>
      <if test="gameRating != null" >
        game_rating = #{gameRating,jdbcType=INTEGER},
      </if>
      <if test="gameCamp != null" >
        game_camp = #{gameCamp,jdbcType=INTEGER},
      </if>
    </set>
    where game_id = #{gameId,jdbcType=INTEGER}
  </update>

</mapper>